<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #admin-static-resources},
                                                ~{:: #admin-nav},
                                                ~{:: #admin-main-content},
                                                ~{:: #admin-footer}
                                               )}">

<head>
    <title>Admin Page</title>
    <th:block id="admin-static-resources">
        <script type="text/javascript" src="/js/admin.js" th:src="@{/js/admin.js}"></script>
        <link rel="stylesheet" type="text/css" href="/css/admin.css" th:href="@{/css/admin.css}"/>
    </th:block>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<div id="admin-nav" th:replace="~{/fragments/admin-menu :: nav-admin}">
    Admin Nav
</div>
<div class="container" id="admin-main-content">
    <img src="https://assets.ey.com/content/dam/ey-sites/ey-com/en_in/topics/banking-and-capital-markets/ey-shutterstock.jpg.rendition.1800.1200.jpg" th:class="img-fluid"/>
</div>
</body>
</html>
