<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transfer Success</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/transaction-success.css}"
          href="/css/transaction-success.css"/>
</head>

<body>
<div class="container">
    <div class="headingImg">

    </div>

    <h1>Transaction Success</h1>

    <div th:switch="${type}">
        <h3 th:case="'TRANSFER'"
            th:utext="'Quí khách đã chuyển thành công số tiền ' + ${transaction.transactionAmount} + ' VND' + ' đến số tài khoản ' + ${account.accountNumber} + '/' + ${user.fullName} + ' vào lúc ' + ${transaction.transactionDate} + '<br>Nội dung: ' + ${transaction.description} "/>
        <h3 th:case="'DEPOSIT'"
            th:utext="'Quí khách đã cho vào thành công số tiền ' + ${transaction.transactionAmount} + ' VND' + ' đến số tài khoản ' + ${account.accountNumber} + '/' + ${user.fullName} + ' vào lúc ' + ${transaction.transactionDate} "/>
        <h3 th:case="'WITHDRAW'"
            th:utext="'Quí khách đã rút thành công số tiền ' + ${transaction.transactionAmount} + ' VND' + ' của số tài khoản ' + ${account.accountNumber} + '/' + ${user.fullName} + ' vào lúc ' + ${transaction.transactionDate} "/>
        <p th:case="*">Not support</p>
    </div>
</div>

</body>
</html>