<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/view-balance.css" th:href="@{/css/view-balance.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
    <div class="container text-center">
        <div class="row text-center rounded-0">
            <img src="https://cdn.dribbble.com/users/476946/screenshots/13892314/media/16d5c56969ef0cf453a7a815e62d5bf8.png" width="250px" height="250px" th:class="rounded">
        </div>

        <h1>View Balance</h1>

        <div class="col text-center">
            <p th:text="'Account Number: ' + ${account.accountNumber}"/>
            <p th:text="'Valid Date: ' + ${account.activeDate}"/>
            <p th:text="'Current balance: ' + ${account.currentBalance} + ' VNĐ'"/>
        </div>
        <div class="row text-center">
            <a href="http://localhost:8080/customer" class="btn btn-info " role="button">Back</a>


        </div>

    </div>

</body>
</html >